.queue-container{
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: space-around;
}

.frame-contanier{
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-around;
}
.frame-contanier{
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: space-around;
}