<div id="boxes">

    <!-- <div class="box queue" *ngFor="let queue of data.queue" >{{queue}}</div> -->
    <!-- <table>
        <tr>
            <td *ngFor="let queue of data.queue">{{queue}}</td>
        </tr>
        <tr *ngFor="let frame of frame"></tr>
    </table>
    <div class="box frame" *ngFor="let frame of frame" ng-attr-id=""></div> -->
    <div class="simulator-container">
        <div class="queue-container">
            <div class="queue" *ngFor="let queue of data.queue">{{queue}}</div>
        </div>
        <div class="step-container">
            <div class="frame-contaner" *ngFor="let step of steps">
                <div class="frame" *ngFor="let frame of frame">{{frame}}</div>
            </div>
        </div>
    </div>
</div>
<button (click)="fifo()">RUN</button>



<!-- <canvas #canvas width="600" height="300"></canvas> -->